<header class="header">
    <nav class="nav container">
        <div class="nav_data">
            <a [routerLink]="['b']" class="nav_logo">
                ROSEN Marketplace
            </a>
            <div class="nav_toggle" id="nav-toggle" (click)="toggleMenu()" [class.show-icon]="showMenu">
                <i class="ri-menu-line nav_burger"></i>
                <i class="ri-close-line nav_close"></i>
            </div>
        </div>
        <div class="nav_menu" id="nav-menu" [class.show-menu]="showMenu">
            <ul class="nav_list">
                <li class="nav_link">
                    <a [routerLink]="['b']">List</a>
                </li>
                <li class="nav_link">
                    <a [routerLink]="['c']">Post new</a>
                </li>
                <li class="nav_link nav_user">
                    <a [routerLink]="['a']">Hello, {{ user?.name }}</a>
                </li>
            </ul>
        </div>
    </nav>
</header>